@page "/"
@using Vista.Web.Service
@rendermode InteractiveServer
@inject ChatApiClient chatApi

<EditForm Model="@AIRequest" FormName="chatbot">
    <div class="searchArea">
        <button @onclick="GetAPIResponse"> Submit </button>
        <div class="inputDiv">
            <InputText class="form-control" @bind-Value="@AIRequest.Request" placeholder="Ask me anything.." />
        </div>
    </div>
    <div class="searchResult">
        <InputTextArea class="form-control" style="height:450px" @bind-Value="@AIRequest.Response" placeholder="AI will respond here..." readonly />
    </div>
</EditForm>
@inject ChatService chatService
@code {
    Message AIRequest = new();
    public async Task GetAPIResponse()
    {
        try
        {
            AIRequest.Response = "";
            var response = await chatApi.GetResponseStreamAsync(AIRequest.Request);
            var stream = await response.Content.ReadAsStreamAsync();

            using var reader = new StreamReader(stream);
            while (await reader.ReadLineAsync() is { } line)
            {
                if (line.StartsWith("data:"))
                {
                    var eventData = line.Substring(5).Trim();
                    AIRequest.Response += " " + eventData;
                    StateHasChanged();
                }
            }
        }
        catch (Exception ex)
        {
            AIRequest.Response += ex.ToString();
        }
    }
    class Message
    {
        public string Request { get; set; }
        public string Response { get; set; }
    }
}
